<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pagina Inicial</title>
</head>
<body>
    <h1>Perfil do usuario</h1>
    <hr>
    <h2> Iniciando estudos com Node.js </h2>
    <h3> Essa pagina esta sendo renderizada com EJS.</h3>
</body>
</html>